<footer style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: white; border-top: 1px solid #ccc; padding: 10px 20px; font-size: 12px; display: flex; justify-content: space-between; align-items: center;">
    <div>
  <strong>Contact</strong><br>
      [Tel] +82-43-229-8443<br>
      <a href="mailto:doojinjang@cju.ac.kr">[E-mail] doojinjang at cju.ac.kr</a><br>
      <a href="/orbit_lab/pages/email_policy.html"><strong><u>Rejection of Unauthorized E-mail Address Collection</u></strong></a>
    </div>
    <img src="/orbit_lab/assets/img/cju_ui.jpg" alt="CJU Logo" style="height: 100px;">
</footer>
